.animate__animated.animate__fadeInLeft{
    animation-duration: 1s;
    animation-delay: 0.5s;
}
.animate__animated.animate__fadeInRight{
    animation-duration: 1s;
    animation-delay: 0.5s; 
}

.animate__animated.animate__slideInDown{
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.animate__animated.animate__slideInUp{
    animation-duration: 1s;
    animation-delay: 0.5s;
}